/*.fa {
    position: absolute;
    left: 380px;
    top:    10px;
    cursor: pointer;
    color:#999;
}
.fa :active{
    color: dodgerblue;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  */